
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Schedule</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="form.css">
</head>

<body>
  <div id="form-box">
    <form action="{% url 'formDjango'%}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="formGroupExampleInput">Nama Agenda</label>
        {{form.name}}
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Tempat</label>
        {{form.place}}
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Hari</label>
        {{form.day}}
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Tanggal</label>
        {{form.date}}
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Jam</label>
        {{form.time}}
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Kategori</label>
        {{form.category}}
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>



</body>

</html>