{%load staticfiles%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Meet Ihwanes</title>

  <!-- Bootstrap CSS Syntax -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- All of CSS file that being used -->
  <link rel="stylesheet" href="../static/css/landing.css">
  <link rel="stylesheet" href="../static/css/keterampilan.css">
  <link rel="stylesheet" href="../static/css/profil.css">
  <link rel="stylesheet" href="../static/css/pengalaman.css">
  <link rel="stylesheet" href="../static/css/pendidikan.css">
  <link rel="stylesheet" href="../static/css/gallery.css">
  <link rel="stylesheet" href="../static/css/kontak.css">
  <link rel="stylesheet" href="../static/css/form.css">
</head>

<body>
  <div class="container-fluid">

    <div class="landing-page">
      <div id="navbar-landing">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Ihwanes</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <!-- Syntax to make the navbar justified -->
            <ul class="navbar-nav w-100 nav-justified">
              <li class="nav-item active">
                <a class="nav-link" href="#Profil">Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Keterampilan">Keterampilan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Pengalaman">Pengalaman</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Pendidikan">Pendidikan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Kontak">Kontak</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Tambahan">Tambahan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Form">Mari Berbagi Ilmu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/isiForm/">Tambah Jadwal</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div id="background-landing"></div>
      <div id="paket-tulisan-landing">
        <div id="center-text-landing">
          <p>Hai, ini saya, Ihwan!</p>
        </div>
        <div id="center-line-landing"></div>
        <div id="center-text-below-landing">
          <p>IT Student, Have interest with Website Development</p>
        </div>
      </div>

    </div>

    <div class="main-page">
      <div class="profil-page">
        <div id="kotak-kiri-profil">
          <h1 id="tulisan-profil">Profil</h1>
          <img id="gambar-profil" src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706074934.jpg" alt="Ihwanes">
        </div>

        <div id="kotak-kanan-profil">
          <div id="tulisan-kanan-profil">
            <p>Ihwan Edi Saputro adalah nama lengkap saya, yang lahir di Bandung tepatnya pada tanggal 18 Juli 1999.
              Sekarang,
              saya berkuliah di Fakultas Ilmu Komputer Universitas Indonesia Program Studi Ilmu Komputer, dan beralamat
              di
              daerah Kukusan, Kecamatan Beji, Kota Depok.
              <br>
              <br>
              Ada banyak hal yang saya sukai sekarang ini, tentu salah satunya adalah Web-Development. Selain itu, saya
              juga
              seseorang yang tertarik akan topik-topik IT, Sosial dan Politik, serta Keislaman. Hobi yang sedang saya
              minati
              adalah browsing, berdiskusi, mendengarkan musik, membaca buku, dan juga travelling.
              <br>
              <br>
              Website ini menyajikan profil saya secara lengkap mulai dari kesukaan, kemampuan, pengalaman, hasil foto
              saya,
              maupun kontak saya. Penjelasan lebih lanjut akan disampaikan di tiap bagian yang terpisah dan dipandu
              oleh
              Navigasi (Petunjuk) di atas halaman.
            </p>
            <div id="kotak-kanan-profil-garis"></div>
          </div>
        </div>
      </div>


      <div class="keterampilan-page">

        <div id="kotak-kiri-keterampilan">
          <h1 id="Keterampilan">Keterampilan</h1>
          <br>
          <br>
          <div id="keterampilan-personal">
            <p>Keterampilan Personal
              <ul>
                <li>Kerja Tim (Teamwork)</li>
                <br>
                <li>Kepemimpinan</li>
                <br>
                <li>Intrapersonal dan Interpersonal</li>
              </ul>
            </p>
          </div>
        </div>

        <div id="kotak-kanan-keterampilan">
          <div id="keterampilan-teknis">
            <p>Keterampilan Teknis
              <ul>
                <li>Adobe Photoshop</li>
                <br>
                <li>Adobe Lightroom</li>
                <br>
                <li>CorelDraw</li>
                <br>
                <li>HTML</li>
                <br>
                <li>CSS</li>
                <br>
                <li>Python</li>
                <br>
                <li>Java</li>
                <br>
                <li>Menulis non Esai</li>
                <br>
                <li>Fotografi</li>
              </ul>
            </p>
            <div id="kotak-kanan-keterampilan-garis"></div>
          </div>
        </div>
      </div>

      <div class="pengalaman-page">

        <div id="kotak-kiri-pengalaman">
          <h1 id="Pengalaman">Pengalaman</h1>
          <br>
          <br>
          <div id="pengalaman-kepanitiaan">
            <p>Pengalaman Kepanitiaan
              <ul>
                <li>OIM UI</li>
                <br>
                <li>
                  Pelatihan Dasar Jurnalistik
                  SMA A. Wahid Hasyim Tebuireng Jombang
                </li>
                <br>
                <li>BETIS (Bimbingan Belajar Gratis) Fasilkom UI</li>
                <br>
                <li>Sosialisasi Kampus HIKMAT</li>
                <br>
                <li>Pocman</li>
              </ul>
            </p>
          </div>
        </div>

        <div id="kotak-kanan-pengalaman">
          <div id="pengalaman-organisasi">
            <p>Pengalaman Organisasi
              <ul>
                <li>OPI DKI Jaya (Organisasi Pelajar Islam DKI
                  Jakarta Raya) Tebuireng Jombang
                </li>
                <br>
                <li>FOKUS (Forum Komunikasi Siswa) SMA A.
                  Wahid Hasyim Tebuireng Jombang
                </li>
                <br>
                <li>HIKMAT (Himpunan Keluarga Mahasiswa
                  Alumni Tebuireng) Jaboretabek Serang
                  dan Karawang
                </li>
                <br>
                <li>BEM Fasilkom UI 2018 (Badan Eksekutif
                  Mahasiwa Fakultas Ilmu Komputer
                  Universitas Indonesia
                </li>
                <br>
                <li>FUKI Fasilkom UI 2018 (Forum Ukhuwah
                  dan Kajian Islam Fakultas Ilmu
                  Komputer Universitas Indonesia)
                </li>
              </ul>
            </p>
            <div id="kotak-kanan-pengalaman-garis"></div>
          </div>
        </div>
      </div>

      <div class="pendidikan-page">

        <div id="kotak-kiri-pendidikan">
          <h1 id="Pendidikan">Pendidikan</h1>
          <br>
          <br>
          <div id="pendidikan-non-formal">
            <p>Pendidikan Non-Formal
              <ul>
                <li>Bimbel Strategis Tangerang</li>
                <br>
                <li>Pesantren Tebuireng Jombang</li>
                <br>
                <li>Bimbel SSC Jombang</li>
              </ul>
            </p>
          </div>
        </div>

        <div id="kotak-kanan-pendidikan">
          <div id="pendidikan-formal">
            <p>Pendidikan Formal
              <ul>
                <li>SDN Periuk 06 Kota Tangerang</li>
                <br>
                <li>SMPN 5 Kota Tangerang</li>
                <br>
                <li>SMA A. Wahid Hasyim Tebuireng Jombang</li>
                <br>
                <li>S1 Universitas Indonesia Jurusan Ilmu Komputer</li>
              </ul>
            </p>
            <div class="container-pendidikan">

              <div class="row">
                <div class="col-xs-4">
                  <div class="thumbnail">
                    <a href="../static/image/ui.png" target="_blank">
                      <img id="gambar-pendidikan" src="../static/image/ui.png" alt="Lights" style="width: 5em; height: 5em">
                    </a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="thumbnail">
                    <a href="../static/image/awh.jpg" target="_blank">
                      <img id="gambar-pendidikan" src="../static/image/awh.jpg" alt="Nature" style="width: 5em; height: 5em">

                    </a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="thumbnail">
                    <a href="../static/image/tbi.png" target="_blank">
                      <img id="gambar-pendidikan" src="../static/image/tbi.png" alt="Fjords" style="width: 5em; height: 5em">

                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div id="kotak-kanan-pendidikan-garis"></div>
          </div>
        </div>


      </div>

      <div class="gallery-page">

        <div id="background-gallery">
          <div id="tulisan-gallery">
            <h1 id="Gallery">Gallery</h1>
          </div>

          <div class="container-gallery">

            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="../static/image/gallery-1.JPG" target="_blank">
                    <img id="gambar-gallery" src="../static/image/gallery-1.JPG" alt="Lights" style="width:600" height="400">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="../static/image/gallery-2.JPG" target="_blank">
                    <img id="gambar-gallery" src="../static/image/gallery-2.JPG" alt="Nature" style="width:600" height="400">

                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="../static/image/gallery-3.JPG" target="_blank">
                    <img id="gambar-gallery" src="../static/image/gallery-3.JPG" alt="Fjords" style="width:600" height="400">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="garis-gallery"></div>
      </div>
    </div>

    <div class="kontak-page">
      <div id="background-kontak">
        <div id="tulisan-kontak">
          <h1 id="Kontak">Kontak</h1>
        </div>
        <div id="isi-kontak">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <div id="facebook">
                <div id="gambar-facebook">
                  <img src="../static/image/facebook.png" alt="facebook">
                  <div id="tulisan-facebook">
                    <p>Ihwan (Edi Saputro)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div id="instagram">
                <img id="gambar-instagram" src="../static/image/instagram.png" alt="instagram">
                <div id="tulisan-instagram">
                  <p>ihwanes</p>
                </div>
              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div id="gmail">
                <img id="gambar-gmail" src="../static/image/gmail.png" alt="gmail">
                <div id="tulisan-gmail">
                  <p>ihwan1999@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div id="linkedin">
                <img id="gambar-linkedin" src="../static/image/linkedin.png" alt="linkedin">
                <div id="tulisan-linkedin">
                  <p>Ihwan Edi Saputro</p>
                </div>
              </div>
            </div>
            <div class="p-2 bd-highlight">
              <div id="line">
                <img id="gambar-line" src="../static/image/line.png" alt="line">
                <div id="tulisan-line">
                  <p>ihwan1999</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--<div class="tambahan-page">
      
            <div id="background-tambahan"></div>
      
            <div id="tulisan-tambahan">
      
            </div>
      
            <div id="bem-kiri">
              <div id="gambar-bem">
      
              </div>
              <div id="tulisan-bem">
      
              </div>
            </div>
      
            <div id="hikmat-tengah">
              <div id="gambar-hikmat">
      
              </div>
              <div id="tulisan-hikmat">
      
              </div>
            </div>
      
            <div id="betis-kanan">
              <div id="gambar-betis">
      
              </div>
              <div id="tulisan-betis">
      
              </div>
            </div>
      
          </div>
        </div>-->

    <div class="form-page">
      <div id="tulisan-form">
        <h1 id="Form">Mari Berbagi Ilmu</h1>
      </div>
      <br>
      <br>
      <div id="form-inti">
        <div id="intro-form">
          <p>Berbagi ilmu adalah hal yang menyenangkan. Ilmu adalah harta yang tidak akan habis
            dibagi ke seluruh dunia pun. Website ini masih punya banyak kekurangan, tidak ada salahnya
            bagi kita untuk saling berbagi ilmu, apa saja. Mari isi form ini.
          </p>
        </div>
        <br>
        <div id="form-box">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Nama Lengkap</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nama Lengkap">
            </div>
            <div class="form-group">
              <label for="example-date-input">Date</label>
              <input class="form-control" type="date" value="2018-09-20" id="example-date-input">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Alamat Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nama@contoh.com">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Nama Pengguna</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Kata Sandi</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Masukkan Kembali Kata Sandinya</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>

</body>

</html>