{%load staticfiles%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jadwal Ihwanes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="listjadwal.css">
</head>

<body>
  <div class="list-jadwal">
    {% for msg in messages %}
    <label style=font-size:20px>Nama Kegiatan: </label>
    {{msg.name}}
    <br>
    <label>Tempat: </label>
    {{msg.place}}
    <br>
    <label>Hari: </label>
    {{msg.day}}
    <br>
    <label>Tanggal: </label>
    {{msg.date}}
    <br>
    <label>Jam: </label>
    {{msg.time}}
    <br>
    <label>Kategori: </label>
    {{msg.category}}
    <br>
    {% endfor %}
  </div>

</body>

</html>