body {
  display: flex;
  flex-direction: column;
  background-position: center center;
  padding: 30px;
}

list-jadwal {
  display: flex;
  flex-direction: column;
  background-position: center center;
  padding: 30px;
}