.pengalaman-page {
  /* width: 1349px;
  height: 760px; */
  background-color: #fc3333;
  margin: 0;
  padding: 0;
}

#kotak-kiri-pengalaman {
  display: flex;
  flex-direction: column;
  background-color: #fffede;
  padding: 30px;
  margin: 0;
  border-radius: 10%;
}

#Pengalaman {
  color: #fc3333;
  text-align: center;
  font-size: 2em ;
}

#pengalaman-kepanitiaan {
  color: #fc3333;
  font-size: 21px;
  text-align: justify;
}

#kotak-kanan-pengalaman {
  display: flex;
  flex-direction: column;
  background-color: #fc3333;
  padding: 30px;
}

#pengalaman-organisasi {
  color: #fffede;
  width: auto;
  
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 21px;
  text-align: justify;
  /* display: flex; */
  /* height: 1000px;
  left: 692px;
  top: 347%; */
}

/* #kotak-kanan-pengalaman-garis {
  width: 700px;
  left: -100px;
  height: 32px;
  border-bottom: 10px solid #fffede;
  position: absolute;
  z-index: +1;
} */

@media all and (min-width: 768px){
  .pengalaman-page{
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-size: 24px;
  }

  #kotak-kiri-pengalaman{
    display: flex;
    flex-direction: column;
  }
}

