.form-page {
  background-color: beige;
  /* width: 1349px;
  height: 760px; */
  padding: 0;
  margin: 0;
  /* display: flex; */
}

#intro-form{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 20px;
}

#form-inti{
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  background-position: center center;
  padding: 30px;
}

#Form{
  padding: 30px;
}

@media all and (min-width: 768px){
  .form-page{
    /* display: flex;
    flex-direction: row; */
    padding: 2em;
    font-size: 24px;
  }
}