.gallery-page {
  /* width: 100vw;
  height: 100vw; */
  margin: 0;
  padding: 0;
}

#background-gallery {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../image/foto-gallery.9797aaad2c1d.jpg");
  background-size: 105%;
  background-position: center center;
  
  object-fit: cover;
  width: 100%;
  height: 100%;
 
  z-index: -1;
  padding: 30px;
}

#tulisan-gallery {
  color: #fffede;
  font-size: 72px;
  text-align: left;
  padding: 30px;
}

#gambar-gallery{
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

@media all and (min-width: 768px){
  #background-gallery{
    background-size: 100%;
    /* display: flex; */
    /* position: absolute; */
    background-position: center center;
  }
}