.keterampilan-page {
  background-color: #fffede;
  margin: 0;
  padding: 0;
}

#kotak-kiri-keterampilan {
  display: flex;
  flex-direction: column;
  background-color: #fc3333;
  padding: 30px;
  margin: 0;
}

#Keterampilan {
  color: #fffede;
  text-align: center;
  font-size: 2em;
}

#keterampilan-personal {
  color: #fffede;
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 21px;
  text-align: left;
}

#kotak-kanan-keterampilan {
  display: flex;
  flex-direction: column;
  background-color: #fffede;
  padding: 30px;
}

#keterampilan-teknis {
  color: #fc3333;
  width: auto;

  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 21px;
  text-align: left;
  /* position: absolute; */
  /* height: 1000px;
  left: 692px;
  top: 238%; */
}

#kotak-kanan-keterampilan-garis {
  width: 13em;

  height: auto;
  border-bottom: 10px solid #fc3333;
  position: absolute;
  z-index: +1;
}

@media all and (min-width: 768px) {
  .keterampilan-page {
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-size: 24px;
  }

  #kotak-kiri-keterampilan{
    display: flex;
    flex-direction: column;
    border-radius: 10%;
  }
}