.kontak-page {
  /*  width: 100vw;
  height: 100vw; */
  margin: 0;
  padding: 0;
}

#background-kontak {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url("../image/my-foto.jpg");
  background-size: 420%;
  background-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 30px;
}

#tulisan-kontak {
  padding: 30px;
}

#isi-kontak{
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* #facebook {
  padding: 20px;
}

#instagram {
  padding: 20px;
}

#gmail {
  padding: 20px;
}

#linkedin {
  padding: 20px;
}

#line {
  padding: 20px;
} */

@media all and (min-width: 768px) {
  #background-kontak {
    background-size: 100%;
    /* display: flex; */
 /*    position: absolute; */
    background-position: center center;
  }
}