/* * {
  box-sizing: border-box;
} */

.container-fluid{
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 2px;
} 

.landing-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#background-landing {
  background-image: url("https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/14322673_641501939352612_4491177294453033085_n.jpg?_nc_cat=0&oh=e7cfc6a11a5d04fe9fac6c870bdcfbea&oe=5C31B4A3");
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 275%;

  object-fit: cover;
  filter: brightness(25%);
  opacity: 40%;
  
  z-index: -1;
  /* border: 10px solid #000000; */
  /* background-size: 200%; */
}

/* .navbar-default{
  background
} */

#paket-tulisan-landing{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  align-content: center center;
}

#center-text-landing {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  top: 34%;
  padding: 30px;

  color: #FFFFFF;
  /* width: 50%;
  height: 50%; */
}

#center-line-landing {
  position: absolute;
  width: 17em;
  height: auto;
  
  top: 70%;
  border: 5px solid white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#center-text-below-landing {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  top: 75%;
  text-align: center;
  
  font-size: 12px;
  color: white;
}


@media all and (min-width: 768px) {
  #background-landing{
    background-size: 100%;
    display: flex;
    position: absolute;
    background-position: center center;
  }

  #center-text-landing {
    position: absolute;
    top: 5em;
    left: 6em;
    font-size: 24px;
    width: auto;
    color: white;
    padding: 2px;
    text-align: center center;
    font-size: 72px;
    align-items: center center;
  }

  #center-text-below-landing{
    position: absolute;

  }


}

