.pendidikan-page {
  /* width: 1349px;
  height: 760px; */
  background-color: #fffede;
  margin: 0;
  padding: 0;
}

#kotak-kiri-pendidikan {
  display: flex;
  flex-direction: column;
  background-color: #fc3333;
  padding: 30px;
  margin: 0;
  border-radius: 10%;
}

#Pendidikan {
  color: #fffede;
  text-align: center;
  font-size: 2em;
}

/* .container-pendidikan {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

} */

.row {
  display: flex;
  justify-content: space-around;
}

#gambar-pendidikan{
  display: flex;
  justify-content: space-around;
}

#pendidikan-non-formal {
  color: #fffede;
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 21px;
  text-align: left;
}

#kotak-kanan-pendidikan {
  display: flex;
  flex-direction: column;
  background-color: #fffede;
  padding: 30px;
}

#pendidikan-formal {
  color: #fc3333;
  width: auto;

  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 21px;
  text-align: left;
  /* height: 1000px;
  position: absolute;
  left: 692px;
  top: 456%; */
}

@media all and (min-width: 768px) {
  .pendidikan-page {
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-size: 24px;
  }
}

/* #kotak-kanan-pendidikan-garis {
  width: 700px;
  left: 50px;
  height: 32px;
  border-bottom: 10px solid #fc3333;
  position: absolute;
  z-index: +1;
} */




/* #gambar-pendidikan{
  position: absolute;
  width: 25%;
  left: 8%;
  top: 400%;
  text-align: center;
} */