.profil-page {
  background-color: #fc3333;
  margin: 0;
  padding: 0;
}

#kotak-kiri-profil {
  display: flex;
  flex-direction: column;
  background-color: #fffede;
  padding: 30px;
  margin: 0;
}

#tulisan-profil {
  color: #fc3333;
  font-size: 2em;
  text-align: center;
}

#gambar-profil {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  align-items: center center;
}

#kotak-kanan-profil {
  display: flex;
  flex-direction: column;
  background-color: #fc3333;
  padding: 30px;
}


#tulisan-kanan-profil {
  color: #fffede;
  display: flex;
  width: auto;

  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  text-align: justify;
  /*height: 805px;
  left: 692px;
  top: 805px;*/
}

/* #kotak-kanan-profil-garis {
  width: auto;
  left: auto;
  height: auto;
  border-bottom: 10px solid black;
  display: flex;
  z-index: +1;
} */

@media all and (min-width: 768px) {
  .profil-page {
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-size: 24px;
  }

  #kotak-kiri-profil {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
  }

}